### Librerias

In [82]:
import pandas as pd
import numpy as np

### Carga de datos

In [83]:
df = pd.read_csv('../data/marketing_campaign_dataset.csv')

# Inspección inicial del dataset

In [84]:
# Mostrar información del DataFrame
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 16 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Campaign_ID       200000 non-null  int64
 1   Company           200000 non-null  object
 2   Campaign_Type     200000 non-null  object
 3   Target_Audience   200000 non-null  object
 4   Duration          200000 non-null  object
 5   Channel_Used      200000 non-null  object
 6   Conversion_Rate   200000 non-null  float64
 7   Acquisition_Cost  200000 non-null  object
 8   ROI               200000 non-null  float64
 9   Location          200000 non-null  object
 10  Language          200000 non-null  object
 11  Clicks            200000 non-null  int64
 12  Impressions       200000 non-null  int64
 13  Engagement_Score  200000 non-null  int64
 14  Customer_Segment  200000 non-null  object
 15  Date              200000 non-null  object
dtypes: float64(2), int64(4), object(10)
memory usage: 24.4+ MB

,Campaign_ID,Company,Campaign_Type,Target_Audience,Duration,Channel_Used,Conversion_Rate,Acquisition_Cost,ROI,Location,Language,Clicks,Impressions,Engagement_Score,Customer_Segment,Date
0,1,Innovate Industries,Email,Men 18-24,30 days,Google Ads,0.04,"$16,174.00",6.29,Chicago,Spanish,506,1922,6,Health & Wellness,2021-01-01
1,2,NexGen Systems,Email,Women 35-44,60 days,Google Ads,0.12,"$11,566.00",5.61,New York,German,116,7523,7,Fashionistas,2021-01-02
2,3,Alpha Innovations,Influencer,Men 25-34,30 days,YouTube,0.07,"$10,200.00",7.18,Los Angeles,French,584,7698,1,Outdoor Adventurers,2021-01-03
3,4,DataTech Solutions,Display,All Ages,60 days,YouTube,0.11,"$12,724.00",5.55,Miami,Mandarin,217,1820,7,Health & Wellness,2021-01-04
4,5,NexGen Systems,Email,Men 25-34,15 days,YouTube,0.05,"$16,452.00",6.50,Los Angeles,Mandarin,379,4201,3,Health & Wellness,2021-01-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,199996,TechCorp,Display,All Ages,30 days,Google Ads,0.06,"$18,365.00",2.84,Chicago,German,858,5988,1,Tech Enthusiasts,2021-12-07
199996,199997,DataTech Solutions,Email,Men 25-34,15 days,Facebook,0.02,"$8,168.00",4.14,Chicago,Spanish,228,3068,7,Foodies,2021-12-08
199997,199998,DataTech Solutions,Social Media,Men 18-24,45 days,Website,0.05,"$13,397.00",3.25,New York,Mandarin,723,9548,3,Tech Enthusiasts,2021-12-09
199998,199999,Innovate Industries,Influencer,All Ages,30 days,YouTube,0.10,"$18,508.00",3.86,Houston,French,528,2763,1,Foodies,2021-12-10
199999,200000,Innovate Industries,Social Media,Women 35-44,45 days,Google Ads,0.01,"$13,835.00",6.64,Chicago,Spanish,924,7287,8,Tech Enthusiasts,2021-12-11

In [85]:
# Número de valores núlos en cada columna
df.isnull().sum()

Campaign_ID         0
Company             0
Campaign_Type       0
Target_Audience     0
Duration            0
Channel_Used        0
Conversion_Rate     0
Acquisition_Cost    0
ROI                 0
Location            0
Language            0
Clicks              0
Impressions         0
Engagement_Score    0
Customer_Segment    0
Date                0
dtype: int64

No se encuentran valores nulos en ninguna columna.

In [86]:
# Estadísticas descriptivas para las columnas numéricas
df.describe()

,Campaign_ID,Conversion_Rate,ROI,Clicks,Impressions,Engagement_Score
count,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000
mean,100000.500000,0.080070,5.002438,549.772030,5507.301520,5.494710
std,57735.171256,0.040602,1.734488,260.019056,2596.864286,2.872581
min,1.000000,0.010000,2.000000,100.000000,1000.000000,1.000000
25%,50000.750000,0.050000,3.500000,325.000000,3266.000000,3.000000
50%,100000.500000,0.080000,5.010000,550.000000,5517.500000,5.000000
75%,150000.250000,0.120000,6.510000,775.000000,7753.000000,8.000000
max,200000.000000,0.150000,8.000000,1000.000000,10000.000000,10.000000

### Limpieza y Transformación de Datos

In [87]:
# Filtros: tomamos las filas donde el Canal y el Tipo de Campaña son 'Email', para analizar únicamente campañas de email.
df_email = df[(df['Channel_Used'] == 'Email') & (df['Campaign_Type'] == 'Email')].copy()
print("\nFilas después del filtrado doble:", len(df_email))

Filas después del filtrado doble: 6760

In [88]:
# Limpieza de la columna 'Acquisition_Cost' 
# Se elimina el signo '$', las comas y se convierte la columna a tipo numérico (float)
df_email['Acquisition_Cost'] = (
    df_email['Acquisition_Cost']
    .str.replace('$', '', regex=False)
    .str.replace(',', '', regex=False)  
    .astype(float)
)

In [89]:
# Conversión de la columna 'Date' a tipo datatime
df_email['Date'] = pd.to_datetime(df_email['Date'])

### Creación de Nuevas Métricas

In [90]:
#Convertir la Tasa de Conversión a porcentaje
df_email['Conversion_Rate'] = df_email['Conversion_Rate'] * 100

In [91]:
# Calcular el CTR
df_email['CTR'] = (df_email['Clicks'] / df_email['Impressions']) * 100

In [92]:
# Nueva columna: extracción del día de la semana para el análisis temporal
df_email['Day_of_Week'] = df_email['Date'].dt.day_name()

In [93]:
# Información del nuevo DataFrame para verificar los cambios
df_email.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6760 entries, 57 to 199989
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Campaign_ID       6760 non-null   int64
 1   Company           6760 non-null   object
 2   Campaign_Type     6760 non-null   object
 3   Target_Audience   6760 non-null   object
 4   Duration          6760 non-null   object
 5   Channel_Used      6760 non-null   object
 6   Conversion_Rate   6760 non-null   float64
 7   Acquisition_Cost  6760 non-null   float64
 8   ROI               6760 non-null   float64
 9   Location          6760 non-null   object
 10  Language          6760 non-null   object
 11  Clicks            6760 non-null   int64
 12  Impressions       6760 non-null   int64
 13  Engagement_Score  6760 non-null   int64
 14  Customer_Segment  6760 non-null   object
 15  Date              6760 non-null   datetime64[ns]
 16  CTR               6760 non-null   float64
 17  Day_of_Week       6760 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(4), object(9)
memory usage: 1003.4+ KB

In [94]:
# Se muestra las primeras 5 filas del nuevo Dataframe para ver las columnas creadas
df_email.head()

,Campaign_ID,Company,Campaign_Type,Target_Audience,Duration,Channel_Used,Conversion_Rate,Acquisition_Cost,ROI,Location,Language,Clicks,Impressions,Engagement_Score,Customer_Segment,Date,CTR,Day_of_Week
57,58,Innovate Industries,Email,Men 18-24,60 days,Email,6.0,17305.0,2.70,New York,French,569,1850,2,Fashionistas,2021-02-27,30.756757,Saturday
58,59,Alpha Innovations,Email,Women 25-34,45 days,Email,4.0,18063.0,4.93,Chicago,English,330,6920,6,Foodies,2021-02-28,4.768786,Sunday
60,61,DataTech Solutions,Email,Men 25-34,45 days,Email,5.0,8785.0,2.27,New York,German,849,9217,5,Fashionistas,2021-03-02,9.211240,Tuesday
61,62,TechCorp,Email,Men 25-34,30 days,Email,9.0,13848.0,5.32,Los Angeles,French,261,1958,2,Tech Enthusiasts,2021-03-03,13.329928,Wednesday
91,92,TechCorp,Email,Men 25-34,45 days,Email,9.0,17705.0,7.00,New York,Spanish,628,9545,4,Outdoor Adventurers,2021-04-02,6.579361,Friday

In [95]:
# Guardar el DataFrame limpio en un nuevo archivo CSV
df_email.to_csv('..\data\marketing_campaign_email_clean.csv', index=False)

<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
C:\Users\shiar\AppData\Local\Temp\ipykernel_3956\3306202934.py:2: SyntaxWarning: invalid escape sequence '\d'
  df_email.to_csv('..\data\marketing_campaign_email_clean.csv', index=False)